/* src/components/Home.module.css */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;

  flex-direction: column;
  flex: 1; /* Takes up remaining space after Header */
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .textOverlay {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    max-width: 100%;
    text-align: center;
  }

  .backgroundImageContainer {
    width: 100%; /* Full width on smaller screens */
    height: 50vh; /* Adjust height as needed */
  }
}
